#div1 {
    color: #0000FF;
    text-align:center
}

#leftDiv {
    text-align:left
}

#rightDiv {
    text-align:right
}

#movie_img {
    display:flex;
    justify-content: center;
    align-items: center;
}
